[user]
    email = tanghaibao@gmail.com
    name = Haibao Tang

[alias]
    ci = commit -a
    co = checkout
    ls = ls-files
    rm = rm --cached
    st = status
    outgoing = log origin/master..

    logy = log --since='2 days ago'
    logw = log --since='1 week ago'
    unadd = reset HEAD

[apply]
    whitespace = strip

[diff]
    color = auto
    renames = true

[pager]
    color = true

[status]
    color = auto

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[url "https://"]
    insteadOf = git://
